In [1]:
import pandas as pd

In [2]:
ds=pd.read_csv(r"C:\Users\CSC\Downloads\dsp_42\python\cost_revenue_clean.csv")

In [3]:
ds

      production_budget_usd  worldwide_gross_usd
0                   1000000                   26
1                     10000                  401
2                    400000                  423
3                    750000                  450
4                     10000                  527
...                     ...                  ...
5029              225000000           1519479547
5030              215000000           1671640593
5031              306000000           2058662225
5032              200000000           2207615668
5033              425000000           2783918982

[5034 rows x 2 columns]

In [4]:
ds.isnull().sum()

production_budget_usd    0
worldwide_gross_usd      0
dtype: int64

In [5]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5034 entries, 0 to 5033
Data columns (total 2 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   production_budget_usd  5034 non-null   int64
 1   worldwide_gross_usd    5034 non-null   int64
dtypes: int64(2)
memory usage: 78.8 KB

In [6]:
x=ds[["production_budget_usd"]]
y=ds[["worldwide_gross_usd"]]

In [7]:
from sklearn.model_selection import train_test_split

In [12]:
train_x,test_x,train_y,test_y=train_test_split(x,y,test_size=0.2)

In [13]:
train_x

      production_budget_usd
3312                3000000
4712               80000000
4931              225000000
2341               38000000
1793                8500000
...                     ...
3235               28000000
1929               10000000
2458               22500000
507                14200000
4707               55000000

[4027 rows x 1 columns]

In [14]:
train_y

      worldwide_gross_usd
3312             68452128
4712            349088523
4931            667999518
2341             27501814
1793             15024232
...                   ...
3235             63129909
1929             17657973
2458             30864649
507                543306
4707            347100000

[4027 rows x 1 columns]

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model=LinearRegression()

In [18]:
model.fit(train_x,train_y)

LinearRegression()

In [20]:
model.score(train_x,train_y)

0.5437531366397195

In [25]:
model.predict([[4500000]])

C:\Users\CSC\anaconda4\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[5917914.80406062]])

In [26]:
model.predict(test_x)

array([[1.13586050e+06],
       [2.53649356e+07],
       [1.98794105e+08],
       ...,
       [4.32389670e+06],
       [3.58195915e+08],
       [4.57683673e+07]])

In [27]:
model.score(test_x,test_y)

0.5794634181463092